@page
@model Turrist_agent.Pages.Sotrundikii.EditModel

@{
    ViewData["Title"] = "Изменить";
}

<h1>Изменить</h1>

<h4>Сотрудники</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Sotrudniki.ID" />
            <div class="form-group">
                <label asp-for="Sotrudniki.FIO" class="control-label"></label>
                <input asp-for="Sotrudniki.FIO" class="form-control" />
                <span asp-validation-for="Sotrudniki.FIO" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Sotrudniki.Vozrast" class="control-label"></label>
                <input asp-for="Sotrudniki.Vozrast" class="form-control" />
                <span asp-validation-for="Sotrudniki.Vozrast" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Sotrudniki.Pol" class="control-label"></label>
                <input asp-for="Sotrudniki.Pol" class="form-control" />
                <span asp-validation-for="Sotrudniki.Pol" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Sotrudniki.Adres" class="control-label"></label>
                <input asp-for="Sotrudniki.Adres" class="form-control" />
                <span asp-validation-for="Sotrudniki.Adres" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Sotrudniki.Telefon" class="control-label"></label>
                <input asp-for="Sotrudniki.Telefon" class="form-control" />
                <span asp-validation-for="Sotrudniki.Telefon" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Sotrudniki.Pass_dannie" class="control-label"></label>
                <input asp-for="Sotrudniki.Pass_dannie" class="form-control" />
                <span asp-validation-for="Sotrudniki.Pass_dannie" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Sotrudniki.Kod_dolzhnosti" class="control-label"></label>
                <input asp-for="Sotrudniki.Kod_dolzhnosti" class="form-control" />
                <span asp-validation-for="Sotrudniki.Kod_dolzhnosti" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Сохранить" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Назад к списку</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
